<section class = "hero is-primary">
    <div class = "hero-body">
        <div class = "container">
            <h1 class = "title">Contact Us!</h1>
        </div>
    </div>
</section>

<section class = "section">
    <div class = "container">
        <!--Form-->
        <form (ngSubmit) = "submitForm()" #contactForm="ngForm">
            <!--Name-->
            {{name}}
            <div class = "field">
                <label class = "label">Name</label>
                <input 
                    type = "text" 
                    name="name" 
                    class="input" 
                    [(ngModel)] = "name"
                    #nameInput = "ngModel" 
                    required>

                    <div class = "help is-error has-text-danger" *ngIf = "nameInput.invalid && nameInput.touched">
                        Name is required.
                    </div>
                    {{nameInput.errors | json}}
            </div>

            <!--Phone Number-->
            {{phone}}
            <div class = "field">
                <label class = "label">Phone Number</label>
                <input 
                    type = "phone" 
                    name="phone" 
                    class="input" 
                    pattern = "^\d{10}$"
                    [(ngModel)] = "phone" 
                    #phoneInput = "ngModel"
                    required>

                    <div class = "help is-error has-text-danger" *ngIf = "phoneInput.invalid && phoneInput.touched">
                        A valid phone number is required.
                    </div>
                    {{phoneInput.errors | json}}
            </div>

            <!--Email-->
            {{email}}
            <div class = "field">
                <label class = "label">Email</label>
                <input 
                    type = "email" 
                    name="email" 
                    class="input" 
                    [(ngModel)] = "email" 
                    #emailInput = "ngModel"
                    required
                    email>

                    <div class = "help is-error has-text-danger" *ngIf = "emailInput.invalid && emailInput.touched">
                        Valid email address is required.
                    </div>
                    {{emailInput.errors | json}}
            </div>

            <!--Message-->
            {{message}}
            <div class = "field">
                <label class = "label">Message</label>
                <textarea 
                    name = "message" 
                    class = "textarea" 
                    [(ngModel)] = "message"
                    #messageInput = "ngModel"
                    required>
                </textarea>
                <div class = "help is-error has-text-danger" *ngIf = "messageInput.invalid && messageInput.touched">
                    A message is required.
                </div>
                {{messageInput.errors | json}}
            </div>

            <!--Submit-->
            <button 
                type = "submit" 
                class = "button is-large is-warning"
                [disabled] = "contactForm.invalid">
                    Submit
            </button>
            {{contactForm.valid}}
        </form>
    </div>
</section>